/* global */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.no-spacing {
    margin: 0;
    padding: 0;
}
.horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.horizontal-center2 {
    position: relative;
    margin: 0 auto;
}
.list-style-none {
    list-style: none;
}
.text-decoration {
    text-decoration: none;
}
.cursor-pointer:hover {
    cursor: pointer;
}
/* grid */
.grid-wrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
/* header */
.logo {
    grid-row: 1/5;
    grid-column: 1/13;
}
.menu {
    grid-row: 5/10;
    grid-column: 1/13;
}
#header-logo {
    width: 200px;
}
.no-padding {
    padding-left: 0;
}
#mobile-nav {
    width: 250px;
    transform: translateY(-150px);
    opacity: 0;
}
#mobile-nav {
    transition: 0.5s ease all;
}
.links:hover {
    background-color: #3b3b3b;
}
/* showcase */
#showcase {
    grid-row: 8/13;
    grid-column: 1/13;
    background-image: url(images/blurred_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;