/* global */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #f6f6f6;
}
.no-spacing {
    margin: 0;
    padding: 0;
}
.horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.horizontal-center2 {
    position: relative;
    margin: 0 auto;
}
.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.both-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.list-style-none {
    list-style: none;
}
.text-decoration {
    text-decoration: none;
}
.cursor-pointer:hover {
    cursor: pointer;
}
/* grid */
.grid-wrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
/* header */
.logo {
    grid-row: 1/5;
    grid-column: 1/13;
    background-color: #fff;
}
.menu {
    grid-row: 5/10;
    grid-column: 1/13;
    background-color: #fff;
}
#header-logo {
    width: 200px;
}
.no-padding {
    padding-left: 0;
}
#mobile-nav {
    width: 250px;
    transform: translateY(-250px);
    opacity: 0;
    z-index: 999;
}
#mobile-nav {
    transition: 0.5s ease all;
}
.links:hover {
    background-color: #3b3b3b;
}
#logo-link {
    display: block;
    width: 200px;
}
/* showcase */
#showcase {
    grid-row: 8/13;
    grid-column: 1/13;
    background-image: url(images/blurred_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    position: relative;
}
#iphone-pic {
    width: 80px;
    display: block;
    float: right;
}
.innerwrap {
    width: 220px;
}
#showcase-text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
/* services */
.services {
    grid-row: 13/18;
    grid-column: 1/13;
}
.credit-score-service {
    grid-row: 1/5;
    grid-column: 1/13;
}
.notary-service {
    grid-row: 5/10;
    grid-column: 1/13;
    margin-top: 14px;
}
.service-icons {
    width: 130px;
}
.check-after-list::after {
    display: inline-block;
    content: "";
    background: url("images/check.png");
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
}
/* footer */
footer {
    grid-row: 18/23;
    grid-column: 1/13;
}
.social-icons {
    width: 25px;
}
footer p {
    grid-column: 1/13;
}
footer ul {
    grid-column: 1/13;
    width: 85px;
    margin: auto;
    padding: 0;
}
/* keyframes */
#iphone-pic {
    position: relative;
    animation-name: slide-left;
    animation-duration: 2s;
}
@keyframes slide-left {
    0% {right: -200px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}
#showcase-text {
    animation-name: slide-down;
    animation-duration: 2s;
}
@keyframes slide-down {
    0% {top: -15px; opacity: 0;}
    100% {top: 50%;opacity: 1;}
}
/* media queries */
@media screen and (min-width: 475px) {
    /* header */
    .logo {
        grid-column: 1/9;
    }
    .menu {
        grid-column: 9/13;
        grid-row: 1/5;
    }
    #mobile-menu {
        top: 35px;
    }
    #mobile-nav {
        position: relative;
        right: 120px;
        top: 35px;
    }
    /* showcase */
    #showcase {
        height: 220px;
        grid-row: 5/13;
    }
    #iphone-pic {
        width: 100px;
    }
    .innerwrap {
        width: 300px;
    }
    #showcase-text {
        font-size: 1.5rem;
    }
    /* services */
}
@media screen and (min-width: 768px) {
    /* header */
    .logo {
        grid-column: 1/10;
    }
    .menu {
        grid-column: 10/13;
    }
    #logo-link {
        left: 30%;
    }
    /* showcase */
    #showcase {
        height: 395px;
    }
    #iphone-pic {
        width: 200px;
    }
    .innerwrap {
        width: 400px;
    }
    /* services */
    .credit-score-service {
        grid-column: 1/7;
    }
    .notary-service {
        grid-column: 7/13;
        grid-row: 1/5;
        margin-top: 0;
    }
    /* footer */
    footer p {
        grid-column: 1/7;
    }
    footer ul {
        grid-column: 12/13;
    }
}